.about {
  background-color: #fef7f6;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 12rem; }
  .about__info {
    display: flex; }
  .about__text {
    text-transform: uppercase;
    padding: 0 1rem; }
  .about__feature {
    display: flex; }

.banner-1 {
  background-image: url("../img/bg-1.jpg");
  background-position: center;
  background-size: cover;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .banner-1__text {
    flex: 0 0 40%;
    text-align: center;
    padding: 5rem 8rem; }
  .banner-1__pic {
    height: 100%; }

.banner-2 {
  background-color: #EAE2D8;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4rem; }
  .banner-2__text {
    flex: 0 0 50%;
    text-align: center;
    padding: 5rem 8rem; }
  .banner-2__pic {
    height: 100%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.features {
  padding: 10rem; }
  .features__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-column-gap: 2rem; }
  .features__item {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .features__item:hover .features__header__iconbox {
    visibility: visible;
    opacity: 1;
    transform: translateY(-8rem); }
  .features__header {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .features__header__iconbox {
      transform: translateY(-6rem);
      visibility: hidden;
      opacity: 0;
      transition: all .4s; }
    .features__header__icons {
      margin: 0 .3rem;
      background-color: #fff;
      border-radius: 50%;
      padding: 2rem 2.5rem;
      position: relative;
      cursor: pointer; }
      .features__header__icons:hover {
        background-color: #FF5353; }
    .features__header__icon {
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .features__header__icon:hover {
        fill: #fff; }
  .features__ratings {
    padding: 1rem;
    cursor: pointer; }
    .features__ratings__icon {
      width: 1.6rem;
      height: 1.6rem; }
      .features__ratings__icon:hover {
        fill: #FF5353; }

.follow {
  padding: 10rem 12rem; }
  .follow__boxes {
    display: flex;
    justify-content: center;
    align-content: center; }
  .follow__box {
    position: relative; }
    .follow__box :not(:last-child) {
      margin-right: 5rem; }
  .follow__img {
    width: 90%;
    background-image: linear-gradient(to right, rgba(255, 83, 83, 0.5), rgba(255, 83, 83, 0.5));
    transition: all 1s; }
  .follow__box:hover .follow__img {
    filter: brightness(30%); }
  .follow__icon {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    color: #fff;
    font-weight: 500;
    opacity: 0;
    visibility: hidden;
    transition: all 1s; }
  .follow__box:hover .follow__icon {
    opacity: 1;
    visibility: visible; }

.header {
  background-color: #fff;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 12rem; }
  .header__list {
    display: flex;
    list-style: none; }
  .header__link:link, .header__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 1.45rem;
    padding: 1.2rem;
    font-weight: 530; }
  .header__link:hover {
    color: #FF5353; }
  .header__notif {
    display: flex; }
  .header__iconbox {
    padding: 1.2rem;
    position: relative;
    cursor: pointer; }
  .header__icon {
    width: 2rem;
    height: 2rem; }
    .header__icon__not {
      position: absolute;
      width: 1.8rem;
      height: 1.8rem;
      font-size: 1rem;
      top: 0;
      right: 0;
      background-color: #FF5353;
      border-radius: 50%;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center; }
    .header__icon:hover {
      fill: #FF5353; }

.product__pop {
  padding: 12rem 10rem;
  text-transform: uppercase; }
  .product__pop__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 4rem; }

.product__trend {
  padding: 12rem 10rem; }
  .product__trend__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 4rem; }

.sj {
  padding: 0 12rem;
  font-size: 1.6rem;
  color: #000000; }
  .sj .sj__boxes {
    display: flex;
    justify-content: center;
    align-items: center; }
  .sj .sj__date:link,
  .sj .sj__date:visited {
    text-decoration: none;
    color: #777;
    font-weight: 500;
    padding: 1.5rem 0; }
    .sj .sj__date:link:hover,
    .sj .sj__date:visited:hover {
      color: #FF5353; }
  .sj .sj__heading:link,
  .sj .sj__heading:visited {
    font-size: 2rem;
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600; }
    .sj .sj__heading:link:hover,
    .sj .sj__heading:visited:hover {
      color: #FF5353; }
  .sj .sj_box {
    display: flex;
    flex-direction: column; }
    .sj .sj_box:not(:last-child) {
      margin-right: 3.5rem; }
  .sj .sj__line {
    margin-top: 3.5rem;
    color: #dddddd; }
  .sj .sj__social {
    display: flex;
    margin-top: 1.5rem;
    color: #777;
    font-weight: 400; }
    .sj .sj__social__box {
      display: flex;
      align-items: center; }
      .sj .sj__social__box:hover {
        color: #FF5353;
        cursor: pointer; }
      .sj .sj__social__box:not(:last-child) {
        margin-right: 3rem; }
    .sj .sj__social__icon {
      margin-right: 1rem; }
  .sj .sj__img {
    height: 40rem; }

.support {
  display: flex;
  justify-content: center;
  align-items: center; }
  .support h5 {
    margin-top: 2rem; }
  .support__box {
    padding: 2.5rem 3.5rem;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    margin: 0 3rem;
    text-align: center;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1); }
  .support__icon {
    height: 7rem;
    width: 7rem;
    fill: #FF5353; }
  .support__text {
    font-size: 1.4rem;
    padding: 1rem; }

.heading-1, .heading-2, .heading-3, .heading-4, .heading-5 {
  text-transform: uppercase; }

.heading-1 {
  font-size: 5.5rem;
  color: black;
  text-transform: capitalize;
  line-height: 1.2;
  font-weight: 600; }
  .heading-1_italic {
    font-style: italic;
    font-weight: 500; }

.heading-2 {
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: #000000; }

.heading-3 {
  font-size: 1.6rem;
  color: #756260;
  font-weight: 600;
  letter-spacing: .25rem; }
  .heading-3-black {
    color: #000000; }

.heading-4 {
  font-size: 2.4rem; }

.heading-5 {
  font-size: 1.6rem; }

.btn {
  padding: 1.5rem 4rem;
  color: #fff;
  background-color: #FF5353;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  cursor: pointer; }

.mt-small {
  margin-top: 2rem; }

.mt-medium {
  margin-top: 6rem; }

.mt-large {
  margin-top: 10rem; }

.center-text {
  text-align: center; }

.up-txt {
  text-transform: uppercase; }
