
.banner {
    &-1 {
        background-image: url('../img/bg-1.jpg');
        background-position: center;
        background-size: cover;
        height: 80vh;

        display:flex;
        align-items: center;
        justify-content: center;
        


        &__text {
            flex: 0 0 50%;
            text-align: center;
            padding: 5rem 10rem;
            
        }

        &__pic {
            flex: 40%;
            height: 100%;
        }
    }
    &-2 {
        background-color: #EAE2D8;
         height: 65vh;

        display:flex;
        align-items: center;
        justify-content: center;

        padding: 0 4rem;

        &__text {
            flex: 0 0 50%;
            text-align: center;
            padding: 5rem 8rem;
        }

        &__pic {
            flex: 0 0 30%;
            height: 100%;
        }
    }
}