.header {
    background-color: #fff;
    z-index: 100;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 12rem;

    @media only screen and (max-width : $bp-medium) {
        padding: 2rem 8rem;
    }

    @media only screen and (max-width : $bp-medsmall) {
        padding: 2rem 4rem;
    }

    &__logo {
        @media only screen and (max-width : $bp-medium) {
            //width: 7;
            height: 3rem;
        }    
    }   
    
    &__nav {
        
    }

    &__list {
        display: flex;
        list-style: none;
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        font-size: 1.45rem;
        letter-spacing: 1px;
        padding: 1.2rem;
        font-weight: 530;

        @media only screen and (max-width : $bp-medium) {
            padding: .8rem;
        }
    }

    &__link:hover {
        color: $color-primary;
    }

    &__notif {
        display: flex;
    }

    &__iconbox {
        padding: 1.2rem;
        position: relative;
        cursor: pointer;
    }

    &__icon {
        width: 2rem;
        height: 2rem;

        
        &__not {
            position: absolute;
            width: 1.8rem;
            height: 1.8rem;
            font-size: 1rem;
            top: 0;
            right: 0;
            background-color: $color-primary;
            border-radius: 50%;
            color: #fff;
            
            display: flex;
            align-items: center;
            justify-content: center;
            
        }

        &:hover {
            fill: $color-primary;
        }
    }
}
