%heading {
    text-transform: uppercase;
    font-family: 'Noto Sans JP', sans-serif;
}

.heading-1 {
    @extend %heading;
    font-size: 5.5rem;
    color: black;
    text-transform: capitalize;
    line-height: 1.2;
    font-weight: 600;

    @media only screen and (max-width : $bp-medium) {
        font-size: 4rem;
    }

    @media only screen and (max-width : $bp-medsmall) {
        font-size: 3rem;
    }

    &_italic {
        font-style: italic;
        font-weight: 500;
    }
}

.heading-2 {
    @extend %heading;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #000000;
}

.heading-3 {
    @extend %heading;
    font-size: 1.6rem;
    color: $color-brown;
    font-weight: 600;
    letter-spacing: .25rem;

    &-black {
        color: #000000;
    }
}
.heading-4 {
    @extend %heading;
    font-size: 2.4rem;
}

.heading-5 {
    @extend %heading;
    font-size: 1.6rem;
}

.btn {
    padding: 1.5rem 4rem;
    color: #fff;
    background-color: $color-primary;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    cursor: pointer;
}

.mt-small {margin-top: 2rem;}
.mt-medium {margin-top: 6rem;}
.mt-large {margin-top: 10rem;}
.center-text {text-align: center;}
.up-txt {text-transform: uppercase;}